.home-service-section-2 {
    background-color: #F7F7F7;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
}
.home-service-section-2 h2{
    margin-top: 30px;
    margin-bottom: 30px;
}
.images-service-section{
    display: flex;
    flex-direction: column;
}